# Google Drive
GOOGLE_DRIVE_PROJECT_FOLDER=JAN Project
GOOGLE_DRIVE_INPUT_FOLDER=input

# Lambda temporary workspace
LAMBDA_TMP=/tmp/jan_project

# Email / Amazon SES
EMAIL_FROM=jan.abhi007@gmail.com
EMAIL_TO=matiasl@nassaunationalcable.com
AWS_SES_REGION=ap-southeast-2
